# Set the registry globally
registry=http://10.129.178.173:8082/repository/nodejs/

# Set the registry for the package scope
@microservicos-api:registry=http://10.129.178.173:8082/repository/microservicos-api-npm/